reveal.js-master/

__pycache__/
.redo/
.doit.db

*.log
*.aux
*.out

*.shd
*.htm
*.rvaudit
*.end
*.err
*.eso
*.mdd
*.mtd
*.mtr
*.rdd
*.audit
*.bnd
*.eio


demo/build/eplusout.csv
demo/my_report.pdf
demo/redo_build/eplusout.csv
index.html
presentation.html

